In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('Hipertension_Arterial_Mexico.csv')
df.head()

,FOLIO_I,sexo,edad,concentracion_hemoglobina,temperatura_ambiente,valor_acido_urico,valor_albumina,valor_colesterol_hdl,valor_colesterol_ldl,valor_colesterol_total,...,segundamedicion_peso,segundamedicion_estatura,distancia_rodilla_talon,circunferencia_de_la_pantorrilla,segundamedicion_cintura,tension_arterial,sueno_horas,masa_corporal,actividad_total,riesgo_hipertension
0,2022_01001004,2,41,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,222.2,107,4,32.889389,120,1
1,2022_01001009,2,65,14.1,9,4.4,3.8,73,130.0,252,...,96.75,152.2,44.5,41.1,113.7,104,2,1.000000,240,0
2,2022_01001012,2,68,14.2,22,4.8,4.0,34,86.0,139,...,68.70,144.8,42.3,37.8,103.7,105,1,1.000000,480,0
3,2022_01001013,1,35,15.7,11,6.5,4.1,49,107.0,203,...,64.70,154.0,48.5,33.5,222.2,117,5,26.265339,275,1
4,2022_01001015,2,65,12.7,7,4.2,4.2,41,76.0,145,...,97.15,161.3,49.6,42.0,118.9,123,2,1.000000,255,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4363 entries, 0 to 4362
Data columns (total 36 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   FOLIO_I                           4363 non-null   object
 1   sexo                              4363 non-null   int64
 2   edad                              4363 non-null   int64
 3   concentracion_hemoglobina         4363 non-null   float64
 4   temperatura_ambiente              4363 non-null   int64
 5   valor_acido_urico                 4363 non-null   float64
 6   valor_albumina                    4363 non-null   float64
 7   valor_colesterol_hdl              4363 non-null   int64
 8   valor_colesterol_ldl              4363 non-null   float64
 9   valor_colesterol_total            4363 non-null   int64
 10  valor_creatina                    4363 non-null   float64
 11  resultado_glucosa                 4363 non-null   float64
 12  valor_insulina                    4363 non-null   float64
 13  valor_trigliceridos               4363 non-null   int64
 14  resultado_glucosa_promedio        4363 non-null   int64
 15  valor_hemoglobina_glucosilada     4363 non-null   float64
 16  valor_ferritina                   4363 non-null   float64
 17  valor_folato                      4363 non-null   float64
 18  valor_homocisteina                4363 non-null   float64
 19  valor_proteinac_reactiva          4363 non-null   float64
 20  valor_transferrina                4363 non-null   float64
 21  valor_vitamina_bdoce              4363 non-null   float64
 22  valor_vitamina_d                  4363 non-null   float64
 23  peso                              4363 non-null   float64
 24  estatura                          4363 non-null   float64
 25  medida_cintura                    4363 non-null   float64
 26  segundamedicion_peso              4363 non-null   float64
 27  segundamedicion_estatura          4363 non-null   float64
 28  distancia_rodilla_talon           4363 non-null   float64
 29  circunferencia_de_la_pantorrilla  4363 non-null   float64
 30  segundamedicion_cintura           4363 non-null   float64
 31  tension_arterial                  4363 non-null   int64
 32  sueno_horas                       4363 non-null   int64
 33  masa_corporal                     4363 non-null   float64
 34  actividad_total                   4363 non-null   int64
 35  riesgo_hipertension               4363 non-null   int64
dtypes: float64(24), int64(11), object(1)
memory usage: 1.2+ MB

In [4]:
df.columns

Index(['FOLIO_I', 'sexo', 'edad', 'concentracion_hemoglobina',
       'temperatura_ambiente', 'valor_acido_urico', 'valor_albumina',
       'valor_colesterol_hdl', 'valor_colesterol_ldl',
       'valor_colesterol_total', 'valor_creatina', 'resultado_glucosa',
       'valor_insulina', 'valor_trigliceridos', 'resultado_glucosa_promedio',
       'valor_hemoglobina_glucosilada', 'valor_ferritina', 'valor_folato',
       'valor_homocisteina', 'valor_proteinac_reactiva', 'valor_transferrina',
       'valor_vitamina_bdoce', 'valor_vitamina_d', 'peso', 'estatura',
       'medida_cintura', 'segundamedicion_peso', 'segundamedicion_estatura',
       'distancia_rodilla_talon', 'circunferencia_de_la_pantorrilla',
       'segundamedicion_cintura', 'tension_arterial', 'sueno_horas',
       'masa_corporal', 'actividad_total', 'riesgo_hipertension'],
      dtype='object')

In [22]:
df['edad'].unique()

array([41, 65, 68, 35, 70, 30, 29, 58, 62, 48, 32, 43, 60, 49, 28, 27, 64,
       55, 59, 61, 26, 46, 52, 23, 57, 42, 66, 63, 39, 18, 34, 20, 19, 47,
       33, 51, 16, 21, 22, 38, 44, 54, 50, 73, 67, 53, 40, 56, 37, 45, 31,
       88, 36, 24, 69, 17, 25, 92,  9, 77, 75, 82, 79, 80, 86, 74, 72, 81,
       76, 84, 71, 15, 85, 87, 14, 93, 78,  8,  4, 91, 90, 12, 83],
      dtype=int64)

In [23]:
df['edad'].nunique()

83

In [19]:
df['tension_arterial'].nunique()

121

In [25]:
df['resultado_glucosa'].nunique()

210

In [24]:
df['resultado_glucosa'].unique()

array([  92. ,  111. ,  106. ,  109. ,   98. ,  204. ,  101. ,   91. ,
         89. ,   77. ,   75. ,   80. ,   76. ,   97. ,  112. ,  119. ,
         95. ,   82. ,   84. ,   68. ,  110. ,  127. ,   81. ,   87. ,
        132. ,   85. ,  103. ,  139. ,  147. ,   88. ,   62. ,   90. ,
         93. ,  104. ,   94. ,  170. ,   96. ,   86. ,  126. ,   99. ,
         83. ,  208. ,   72. ,  209. ,  120. ,  166. ,  219. ,  130. ,
        107. ,  185. ,   56. ,   79. ,  144. ,   70. ,   54. ,   63. ,
        118. ,   66. ,   60. ,   78. ,   73. ,  171. ,  212. ,  265. ,
        226. ,  100. ,  258. ,  177. ,  116. ,  274. ,  254. ,  182. ,
        272. ,  122. ,  113. ,  286. ,  121. ,  115. ,  157. ,  129. ,
         47. ,   58. ,   64. ,  184. ,  191. ,  306. ,   69. ,  360. ,
        320. ,  143. ,  362. ,  277. ,  108. ,  105. ,  117. ,  102. ,
        158. ,  136. ,  293. ,  131. ,  146. ,   57. ,   74. ,  145. ,
        164. ,  289. ,  322. ,  290. ,  174. ,  223. ,   61. ,  138. ,
        192. ,  172. ,  220. ,   65. ,   41. ,  228. ,  140. ,   51. ,
        123. ,  180. ,  162. ,  259. ,  124. ,  161. ,   67. ,  405. ,
        128. ,   71. ,  178. ,  326. ,  242. ,  150. ,  169. ,  232. ,
        114. ,  207. ,  298. ,  336. ,  188. ,  281. ,  151. ,   55. ,
        341. ,  244. ,  160. ,  279. ,  222. ,   46. ,  309. ,  165. ,
         42. ,  133. ,  200. ,  215. ,  250. ,  253. ,  176. ,  141. ,
        134. ,  167. ,  239. ,  262. ,  285. ,  217. ,  238. ,   45. ,
        203. ,  251. ,  317. ,  340. ,   59. ,   52. ,  268. ,   50. ,
        168. ,  148. ,  331. ,  344. ,  173. ,  327. ,  363. ,  196. ,
        125. ,  480. ,  305. ,  304. ,  142. ,  135. ,  243. ,  210. ,
         53. , 2372. ,  137. ,  152. ,  236. ,  288. ,  368. ,  586. ,
        183. ,  255. ,  246. ,  278. ,  257. ,  237. ,   10.4,  256. ,
        266. ,  240. ])

In [6]:
df.dropna(inplace=True)

In [7]:
df.drop_duplicates(inplace=True)

In [13]:
df.rename(columns={"FOLIO_I": "id", "sexo": "gender", "edad": "age", "concentracion_hemoglobina": "hemoglobin_concentration", 
                   "temperatura_ambiente": "ambient_temperature", "valor_acido_urico": "uric_acid_value", "valor_albumina": "albumin_value", "valor_colesterol_hdl": "hdl_cholesterol_value", 
                   "valor_colesterol_ldl": "ldl_cholesterol_value", "valor_colesterol_total": "total_cholesterol_value", "valor_creatina": "creatinine_value", "resultado_glucosa": "glucose_result",
                   "valor_insulina": "insulin_value", "valor_trigliceridos": "triglycerides_value", "resultado_glucosa_promedio": "average_glucose_result", "valor_hemoglobina_glucosilada": "glycosylated_hemoglobin_value",
                   "valor_ferritina": "Ferritin Value", "valor_folato": "Folate Value", "valor_homocisteina": "Homocysteine Value", "valor_proteinac_reactiva": "c_reactive_protein_value",
                   "valor_transferrina": "transferrin_value", "valor_vitamina_bdoce": "vitamin_b12_value", "valor_vitamina_d": "vitamin_d_value", "peso": "weight",
                   "estatura": "height", "medida_cintura": "waist_measurement", "segundamedicion_peso": "second_weight_measurement", "segundamedicion_estatura": "second_height_measurement",
                   "distancia_rodilla_talon": "knee_heel_distance", "circunferencia_de_la_pantorrilla": "calf_circumference", "segundamedicion_cintura": "second_waist_measurement", "tension_arterial": "blood_pressure",
                   "sueno_horas": "sleep_in_hours", "masa_corporal": "body_mass", "actividad_total": "total_activity", "riesgo_hipertension": "hypertension_risk"}, inplace=True)
df['id'] = df['id'].astype(int)
df['gender'] = df['gender'].replace('1','male').replace('2','female').astype(object)
for i in df.columns:
    i_lower = i.lower() # change column name to lower case
    i_cleaned = i_lower.replace(' ', '_').replace('-', '_') # change space to underscore
    df.rename(columns={i: i_cleaned}, inplace=True)
    df.columns = [col.translate(i_cleaned) for col in df.columns]

In [14]:
df.head()

,id,gender,age,hemoglobin_concentration,ambient_temperature,uric_acid_value,albumin_value,hdl_cholesterol_value,ldl_cholesterol_value,total_cholesterol_value,...,second_weight_measurement,second_height_measurement,knee_heel_distance,calf_circumference,second_waist_measurement,blood_pressure,sleep_in_hours,body_mass,total_activity,hypertension_risk
0,-2147483648,female,41,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,222.2,107,4,32.889389,120,1
1,-2147483648,female,65,14.1,9,4.4,3.8,73,130.0,252,...,96.75,152.2,44.5,41.1,113.7,104,2,1.000000,240,0
2,-2147483648,female,68,14.2,22,4.8,4.0,34,86.0,139,...,68.70,144.8,42.3,37.8,103.7,105,1,1.000000,480,0
3,-2147483648,male,35,15.7,11,6.5,4.1,49,107.0,203,...,64.70,154.0,48.5,33.5,222.2,117,5,26.265339,275,1
4,-2147483648,female,65,12.7,7,4.2,4.2,41,76.0,145,...,97.15,161.3,49.6,42.0,118.9,123,2,1.000000,255,0